.body {
    background: url(./images/background.png);
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    background-position-x: center;
}

.navbar {
    padding: 5px 0 0 0 !important;
}

.logo {
    width: 50px;
    float: left;
}

.title {
    float: left;
    margin-left: 15px;
    margin-top: 7px;
    color: white;
}

/* Changing the colour of the toggler start */
.navbarToggler {
    border-color: rgba(255, 255, 255) !important;
    border-width: 2px !important;
    outline: none !important;
}

.navbarTogglerIcon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
} 
/* Changing the colour of the toggler end */

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navItem {
    display: inline;
}

.navItemLink {
    color: white;
    font-weight: bold;
    display: inline !important;
}

.navItemLink:hover {
    color: white;
}

.separator {
    margin: 0 10px;
    width: 15px;
}